@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
h1{
    font-family: lato;
     color: white;

}
h2{
font-family: raleway;
     color: white;
}
h3{
    color:  #17abb3;
}
.text {
    text-indent: 10px;
}
.mis-en-page{
    display: inline-flex;
}
.section1{
    background-color: #eef1f2;
    width: 33%;
    padding: 30px;
}
.section2{
    background-color: #ffffff;
    width: 67%;
    padding: 30px;
}
body{
    font-family: raleway;
    width: 1160px;
    margin: auto;
    background-color: #f5f5f5;
}
span{
    font-size: 20px;
    color: #17abb3;
    text-align: end;
}
.notation{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}
ul{
    list-style-type: square;
    color: #17abb3;
}
li:first-line {color:rgb(4, 4, 4)}
footer{
    background-color: #17abb3;
    text-align: center;
    padding: 10px;
    color: #ffffff;
  

}
.pier_de_page{
    display: flex;
    column-gap: 20px;
    justify-content: center;
    margin-bottom: 10px;

}
.ma_class1{
    font-weight: bold;

}
.ma_class2{
    font-weight: lighter;
    font-size: small;
    font-family: Raleway italic;
}
.ma_class3{
    color: black;
    font-size: 14px;
}