.conteneur{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4 , 1fr);
    background-color: #17abb3;
    width: 1160;
    height: 250px;
}
#box1{
    grid-row: 1/7;
    align-content: center;
    margin: auto;
   
}
#box2{
    grid-column: 2/4;
    text-align: center;
}
#box3{
    grid-column: 2/4;
    text-align: center;
}
#box4{
     font-family: raleway;
     text-align:end;
     margin-right: 60px ;
}
#box5 {
     font-family: raleway;
      color: white;
      text-align: end;
      margin-right: 10px;
       
}
#box6{
     font-family: raleway;
     text-align: start;
     margin-left: 50px; 
}
#box7{
     font-family: raleway;
      color: white;
      text-align: start; 
      margin-left: 50px;
}
a{
    color: white;
    text-decoration: none;
}
.profil{
    width: 120px;
    height: 120px;
    border: 2px solid white;
    border-radius: 50%;
}
