.conteneur{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: repeat(4 , 1fr);
    background-color: #17abb3;
}
#box1{
    grid-row: 1/7;
    align-content: center;
    margin-left: 50px;
   
}
#box2{
    grid-column: 2/4;
    text-align: center;
}
#box3{
    grid-column: 2/4;
    text-align: center;
}
#box4{
    text-align: end;
    margin-right: 60px;
     font-family: raleway;
    
}
#box6{
     text-align: end;
    margin-right: 20px;
     font-family: raleway;
}
#box5 , #box7{
    margin-left: 100px;
     font-family: raleway;
      color: white;
}


.profil{
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50%;
}
